<mat-grid-list cols="{{getNumberOfColumns()}}" gutterSize="20px" rowHeight="70px">
  <div *ngFor="let row of parsedElementsGridService.grid">
    <div *ngFor="let element of row">
      <mat-grid-tile>
        <app-dr-textbox *ngIf="element.type === 'textbox'" [element]="element"></app-dr-textbox>
        <app-dr-combobox *ngIf="element.type === 'combobox'" [element]="element"></app-dr-combobox>
        <app-dr-radio-group *ngIf="element.type === 'radiobutton'" [element]="element"></app-dr-radio-group>
        <app-dr-list *ngIf="element.type === 'list'" [element]="element"></app-dr-list>
      </mat-grid-tile>
    </div>
  </div>
</mat-grid-list>
