<div class="grid-container">
  <div *ngFor="let row of parsedElementsGridService.grid">
    <div class="grid-row">
      <div *ngFor="let element of row"
           class="grid-cell">

        <mat-form-field *ngIf="element.type === 'textbox'">
          <input matInput placeholder="{{element.name}}" value="{{element.value}}">
        </mat-form-field>


        <app-dr-combobox *ngIf="element.type === 'combobox'" [element]="element"></app-dr-combobox>

        <div *ngIf="element.type === 'radiobutton'">
          <label id="{{'radio' + element.row + '&' + element.column}}">{{element.name}}</label>
          <mat-radio-group>
            <mat-radio-button *ngFor="let radioEntry of element.value"
                              name="{{'radio' + element.row + '&' + element.column}}"
                              value="{{radioEntry.key}}">
              {{radioEntry.value}}
            </mat-radio-button>
          </mat-radio-group>
        </div>


        <mat-list *ngIf="element.type === 'list'" role="list">
          <mat-list-item *ngFor="let value of element.value"
                         role="listitem">{{value}}</mat-list-item>
        </mat-list>
      </div>
    </div>
    <br/>
  </div>
</div>
